body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #4caf50;
}

header {
  padding: 20px;
  background: #81c784;
  color: #fff;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #fff;
  color: #4caf50;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  background: #f1f1f1;
}